@import url('https://fonts.googleapis.com/css?family=Rubik')

*
    margin: 0
    padding: 0

// Colors
$primary-color: #1DB954
$white-color: white
$black-color: black
$black50-color: rgba(black, .5)

// Fonts
@mixin font-title
    font-family: 'Rubik', sans-serif
    font-weight: bold
    font-size: 36px

@mixin font-subtitle
    font-family: 'Rubik', sans-serif
    font-weight: bold
    font-size: 28px

@mixin font-text
    font-family: 'Rubik', sans-serif
    font-weight: normal
    font-size: 20px

@mixin font-optional
    font-family: 'Rubik', sans-serif
    font-weight: normal
    font-size: 18px
    font-style: italic

a
    color: #1DB954
    @include font-text()

// Components
@import 'components/button'
@import 'components/group'
@import 'components/navbar'
@import 'components/plug'
@import 'components/switch'

// Containers
@import 'containers/home'
